/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
	width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
 
  justify-content: center;
	height:100%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
	flex-direction: column;
  width: 100%;
  padding: 8px;

  height: 100%;
  justify-content: center;

  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=name], .form-container input[type=email] {
  width: 55%;
  margin-top:15px;
  padding: 15px;
  flex-wrap: wrap;
 
  margin-left: 22%;
  border: none;
  background: #f1f1f1;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=name]:focus, .form-container input[type=email]:focus {
	background-color: #ddd;
	outline: none;
}

.form-container input[type=tel]{
	width: 55%;
	flex-wrap: wrap;

	padding: 15px;
	margin-top:15px;
	margin-left: 22%;
	border: none;
	background: #f1f1f1;
  }
  
  
  /* When the inputs get focus, do something */
  .form-container input[type=tel]:focus {
	background-color: #ddd;
	outline: none;
  }

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  margin-bottom:12px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #FF0000;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

